image: docker:latest

services:
  - docker:dind

stages:
  - build
  - push

variables:
  DOCKER_TLS_CERTDIR: ""
  IMAGE_NAME: nit65/genava
  IMAGE_TAG: latest

before_script:
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"

build_image:
  stage: build
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .

push_image:
  stage: push
  script:
    - docker push $IMAGE_NAME:$IMAGE_TAG
  only:
    - main
